@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  font-family: 'Raleway', sans-serif;
  max-width: 768px;
  margin: auto;
  line-height: 1.5;
}

.header {
  margin-bottom: 70px;
  font-size: 700%;
}

a {
  text-decoration: none;
  color: red;
}

a:hover {
  border-bottom: red 1px solid;
}

.copyleft {
  margin-top: 70px;
  font-size: 75%;
}
